<!DOCTYPE HTML>
<html>
	<head>
		<title>HiddenPassion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
        <link rel="icon" href="../static/images/icon.png" type="image"/>
	</head>
	<body class="index">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="main" class="logo">HiddenPassion</a>
					<!--<nav id="nav">-->
						<!--<a href="index.html">Home</a>-->
						<!--<a href="generic.html">Generic</a>-->
						<!--<a href="elements.html">Elements</a>-->
					<!--</nav>-->
				</div>
			</header>
			<!--<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>HiddenPassion<span><br />
					The Easiest way to explore your new-self</span></h1>
					<ul class="actions">
						<li><a href="home" class="button alt">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="two">
				<div class="inner">
					<header>
						<h4>Magna Etiam Lorem</h4>
					</header><span></span>
					<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">Learn More</a></li>
					</ul>
				</div>
			</section>

        <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">Techkids.vn Team 4M</a>
					</div>

				</div>
			</footer>
		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>